<header>
        <div class="container-fluid">
        <div class="row">
                <div class="col-lg-4 col-12">
                        <img src="/assets/img/akr_square.jpg" class="headerLogo"/>
                </div>
                <div class="col-lg-8 col-12">
                        <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav ml-auto">
                                                <!-- <li class="nav-item dropdown">
                                                        <a id="dashboardLink" class="nav-link" href="#" id="navbarDropdownDB" role="button">Dashboard </a>
                                                </li> -->
                                                <li class="nav-item dropdown">
                                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOrders" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orders </a>
                                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownOrders">
                                                                <a class="dropdown-item" href="/orders/add-order">Add New Order</a>
                                                                <a class="dropdown-item" href="/orders/view-orders">View Orders</a>
                                                                <!-- <a class="dropdown-item" href="/orders/order-details">Order Details</a> -->
                                                                <!-- <a class="dropdown-item" href="/orders/update-order-status">Change Order Status</a> -->
                                                                <!-- <a class="dropdown-item" href="/orders/add-order-payment">Add Order Payment</a> -->
                                                        </div>
                                                </li>
                                                <li class="nav-item dropdown">
                                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDues" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dues </a>
                                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownDues">
                                                                <!-- <a class="dropdown-item" href="/dues/add-due">Add Due Record</a> -->
                                                                <a class="dropdown-item" href="/dues/view-dues">View All Dues</a>
                                                                <!-- <a class="dropdown-item" href="/dues/add-due-reminder">Add Due Reminder</a> -->
                                                                <!-- <a class="dropdown-item" href="/dues/view-dues">View Reminders</a> -->
                                                        </div>
                                                </li>
                                                <li class="nav-item dropdown">
                                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMasters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Masters </a>
                                                        <div class="dropdown-menu s" aria-labelledby="navbarDropdownMasters">
                                                                <a class="dropdown-item" href="/masters/view-customers">View Customers</a>
                                                                <a class="dropdown-item" href="/masters/add-customer">Add New Customer</a>
                                                                <a class="dropdown-item" href="/masters/view-smiths">View Smiths</a>
                                                                <a class="dropdown-item" href="/masters/add-smith">Add New Smith</a>
                                                                <a class="dropdown-item" href="/masters/view-products">View Products</a>
                                                                <a class="dropdown-item" href="/masters/add-product">Add New Product</a>
                                                        </div>
                                                </li>
                                                <!-- <li class="nav-item dropdown" dropdown placement="bottom right">
                                                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
                                                          dropdownToggle (click)="false">
                                                          <img src="assets/img/avatar.png" class="img-avatar" alt="admin@bootstrapmaster.com" />
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                                                          <div class="dropdown-header text-center"><strong>My Profile</strong></div>
                                                          <a class="dropdown-item" href="/#/settings/my-profile"><i class="fa"></i> My Profile</a>
                                                          <a class="dropdown-item" href="/#/settings/change-password"><i class="fa"></i> Change password</a>
                                                          <a class="dropdown-item" href="/#/logout"><i class="fa fa-lock"></i> Logout</a>
                                                        </div>
                                                      </li> -->
                                                      <!-- <li class="nav-item dropdown">
                                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <img src="assets/img/avatar.png" class="img-avatar" alt="admin@bootstrapmaster.com" />
                                                               
                                                                <strong>My Profile</strong>
                                                        </a>
                                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                            <li><a class="dropdown-item" href="#"><i class="fa"></i> My Profile</a></li>
                                                            <li><a class="dropdown-item" href="#"><i class="fa"></i> Change password</a></li>
                                                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-lock"></i>  Logout</a></li>
                                
                                                        </ul>
                                                    </li> -->
                                                    <li class="nav-item dropdown">
                                                        <a class="nav-link profile" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-regular fa-circle-user fa-xl"></i></a>
                                                        <div class="dropdown-menu s" aria-labelledby="navbarDropdownProfile">
                                                            <a class="dropdown-item" href="/settings/my-profile">My Profile</a>
                                                            <a class="dropdown-item" href="/settings/change-password">Change Password</a>
                                                            <a class="dropdown-item"  href="/auth/logout">Logout</a>
                                                        </div>
                                                    </li>
                                        </ul>
                                </div>
                        </nav>
                </div>
        </div>
</div>
</header>